.listing-container {
    padding: 3rem
}

@media (max-width: 600px) {
    .listing-container {
        padding: 1.5rem
    }
}

.directory-listing {
    margin-left: 3rem;
}

.external-link-image {
    height: 0.8em;
    margin-right: 0.2rem;
}