<!DOCTYPE html>
<html lang="en">
    <head>
        {% include 'common_head.html' %}
        <title>Perse Coding Outreach</title>

        <link rel="stylesheet" href="/static/home.css">

        <meta name="Description" content="Learn or teach the BBC Micro:bit with free online resources">

    </head>
    <body>
        {% include 'header.html' %}
        <div class="text-container">
            <h1>
                Error 404: Page not found
            </h1>
            <p>
                We couldn't find that page, try going back to the <a href="/">homepage</a>. If you followed a link on the site to get here, please <a href="/contact">tell us about it!</a>
            </p>
        </div>
        {% include 'footer.html' %}
    </body>
</html>