<div class="makecode-embed">
    <div class="makecode-embed-link">
        <img src="/static/images/icon_link.svg"> <a href="https://makecode.microbit.org/{{ code_url|safe }}">https://makecode.microbit.org/{{ code_url|safe }}</a>
    </div>
    <div style="position:relative;height:0;padding-bottom:70%;overflow:hidden;" b="https://makecode.microbit.org/#pub:{{ code_url|safe }}">
        <iframe style="position:absolute;top:0;left:0;width:100%;height:100%;" src="" frameborder="0" sandbox="allow-popups allow-forms allow-scripts allow-same-origin"></iframe>

    </div>
</div>
