<!DOCTYPE html>
<html lang="en">
    <head>
        {% include 'common_head.html' %}
        <title>Perse Coding Outreach</title>

        <link rel="stylesheet" href="/static/home.css">

        <meta name="Description" content="Learn or teach the BBC Micro:bit with free online resources">

    </head>
    <body>
        {% include 'header.html' %}
        <div id="cover-image">
            <img src="/static/images/cover.png" alt="Picture of Perse School">
        </div>
        <div class="intro-block">
            <div class="intro-block-text">
                <h1>Perse Coding Outreach</h1>
                <p>
                    The Perse School, Cambridge is ideally located to take advantage of our Silicon Fen setting,
                    the vibrant home of tech and innovation that is Cambridge together with world-class university-led research and industry partnerships.
                </p>
                <p>
                    Our academic Computer Science department is building on this to inspire Perse students to further their computer science learning regardless
                    of age, gender or prior experience. Nearly 50% of Perse students now choose to take a Computer Science GCSE in years 10 and 11 and the results
                    speak for themselves. 
                </p>
                <p>
                    Computer Science at A Level is being chosen increasingly by students as a 'facilitating subject' for those considering
                    degrees in mathematics, physics, engineering, economics and technology in addition to those electing for computer science or joint computer science study at university.
                </p>
            </div>
            <div class="intro-block-ctas">
                <a href="resources" class="cta-block invisible-link">
                    <h2>
                        Lesson plans
                    </h2>
                    <p>Lesson plans and resources for teaching micro:bit for students in KS2.</p>
                </a>
                <a href="moo" class="cta-block invisible-link">
                    
                    <h2>
                        micro:bit Resources
                    </h2>
                    <p>We've compiled a list of resources for teaching the micro:bit, along with some of our own.</p>
                </a>
                <a href="moo" class="cta-block invisible-link">
                    <h2>
                        Get in Touch
                    </h2>
                    <p>Interested in participating in the outreach program?</p>
                </a>
                <a href="moo" class="cta-block invisible-link">
                    <h2>
                        About the program
                    </h2>
                    <p>Learn more about the Perse outreach program and our aims.</p>
                </a>          
            </div>
        </div>
        
        {% include 'footer.html' %}
    </body>
</html>