<!DOCTYPE html>
<html lang="en">
    <head>
        {% include 'common_head.html' %}
        <title>Perse Coding Outreach</title>
        
        <link rel="stylesheet" href="/static/resource.css">

        <meta name="Description" content="Learn or teach the BBC Micro:bit with free online resources">
        
        {% if printable %}
            <link rel="stylesheet" href="/static/resource_printable.css">
        {% endif %}

        <script src="/static/resource.js"></script>
    </head>
    <body>
        {% if not printable %}
            {% include 'header.html' %}
        {% endif %}
        
        {% if printable %}
            <h1>{{ resource_name }}</h1>
            {% include 'path_indicator.html' %}
        {% endif %}

        <div id="lesson-container">
             
            <div class="contents-box">
                <h2>Contents</h2>
                {% for item in contents_list %}
                    <a class="contents-link" href="#{{ item[1] }}">{{ item[0] }}</a>
                {% endfor %}
                
                <a href="printable.pdf" class="printable-link">
                    <img src="/static/images/icon_link.svg">
                    <span>
                        Get a printable version of this resource
                    </span>                    
                </a>
            </div>
            
            <div class="text-container">
                

                {% if not printable %}
                    {% include 'path_indicator.html' %}
                    <h1>{{ resource_name }}</h1>
                {% endif %}

                {{ resource_html|safe }}  
            </div>
        </div>

        {% if not printable %}
            {% include 'footer.html' %}
        {% endif %}
        

    </body>
    
</html>